body {
background-color: #696969;
color: #D3D3D3;
font-family: Arial, sans-serif;
}

h1, h2 { 
  font-size: 35px;
  border-bottom: 2px solid #333;
}

p { 
  font-size: 16px;
  color: #00008B;
  background: #E6E6FA;
  padding: 20px;
}

ol { 
  list-style-type: upper-alpha;
}

ul { 
  list-style-type: square;
}

.profile-picture { 
  width: 200px;
  height: 200px;
  border-width: 2px;
  border-style: dotted;
  border-color: white;
}

a {
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 10px;
}

#navigation {
    margin: 10px;
}

.content {
    background-image: url('tausta3.png');
    padding: 20px;
}

.project {
    margin-bottom: 20px;
}

progress {
    width: 10%;
    height: 20px;
    margin-top: 10px;
}

header, footer, aside {
    background-color: dimgray;
}
