body {
background: 696969;
color: D3D3D3;
}

h1 { 
  font-size: 35px;
}

p { 
  font-size: 16px;
  color: 00008B;
  background: E6E6FA;
}

ol { 
  list-style-type: upper-alpha;
}

ul { 
  list-style-type: square;
}

.profile-picture { 
  width: 200px;
  height: 200px;
  border-width: 2px;
  border-style: dotted;
  border-color: white;
}
