body {
background: DimGray;
color: LightGray;
}

h1 { 
  font-size: 35px;
}

p { 
  font-size: 16px;
  color: DarkBlue;
  background: Lavender;
}

ol { 
  list-style-type: upper-alpha;
}

ul { 
  list-style-type: square;
}
