body {
background-color: #696969;
color: #D3D3D3;
font-family: Arial, sans-serif;
padding: 50px;
}

h1{ 
  font-size: 55px;
}
h2 { 
  font-size: 35px;
}
p { 
  font-size: 16px;
  color: #FFFFFF;
}

 p.lorem-indent {
  padding-left: 100px;
  padding-right: 300px; 
  }
  
p.education-indent {
  padding-left: 100px;
  padding-right: 800px; 
  }
        
p.main-indent {
  padding-right: 300px; 
  }
        
ol { 
  list-style-type: upper-alpha;
}

ul { 
  list-style-type: square;
}

.profile-picture { 
  width: 200px;
  height: 200px;
  border-width: 1px;
  border-style: dotted;
  border-color: white;
}

a {
    background-color: #696969;
    color: white;
    padding: 5px 10px;
    margin-right: 10px;
}

#navigation {
    margin: 10px;
}

.content {
    padding: 00px;
}

.project {
    margin-bottom: 20px;
}



header, footer, aside, section {
    padding: 10px;
}

aside{
    background-color: #464646;
}

     progress {
        width: 100%;
        height: 20px;
        background-color: #696969;
    }
